extends modal_layout

block prepend modal_top
    - var modal_id = 'gmt';
    - var modal_title = 'Geospace Media Tool (GMT)';

block modal_content
    div(class='row')
        div(class='col-12 col-md-5')
            p(class='mb-2')
                .
                    The Geospace Media Tool is a project built at Parsons Institute for Information Mapping (PIIM),
                    intended to help goverment officials and aides track news and the leaders involved in order to inform policy.
            p(class='mb-4')
                .
                    I was initially hired as an Interaction Designer, but since the team was
                    small I also became a frontend engineer and helped spearhead the replatform from
                    Flash to web technologies.
            
        div(class='col-12 col-md-7')
            img(src='img/GMT_PIIM.jpg', class='border img-fluid')
            p(class='mt-4') Technologies: 
                span(class='text-primary') Javascript, CSS, APIs for news and people directories
    
        
        
        

block modal_bottom
        

