extends modal_layout

block prepend modal_top
    - var modal_id = 8;
    - var modal_title = 'Joe Lentini Promo Site';

block modal_content
    div(class='row')
        div(class='col-7')
            img(src='img/Lentini_site.jpg', class='img-fluid border')
        div(class='col-5 mb-4')
            p(class='mb-2')
                .
                    Promo website built for upcoming releases of Joe Lentini which highlighted
                    a few of the tracks with an embedded player and the artwork with eye-popping color.
            p
                .
                    Technologies: Javascript, CSS, Music player plugin.
        

block modal_bottom

