extends modal_layout

block prepend modal_top
    - var modal_id = 'lentini';
    - var modal_title = 'Joe Lentini Promo Site';

block modal_content
    div(class='row')
        
        div(class='col-md-5 col-12 mb-4')
            p(class='mb-2')
                .
                    Promo website built for upcoming releases of Joe Lentini on Schematic Records, highlighting
                    a few of the tracks with an embedded player and matching the album artwork's aesthetic.
            p Technologies: 
                span(class='text-primary') jQuery, SASS
        
        div(class='col-md-7 col-12')
            img(src='img/Lentini_site.jpg', class='img-fluid border')

block modal_bottom

