extends modal_layout

block prepend modal_top
    - var modal_id = 'meetup';
    - var modal_title = 'Engineering at Meetup'

block modal_content
    div(class='row')
        p
            .
                I worked for Meetup as a frontend Web Engineer for 8 years.
                In that time I built a variety of user-facing features for both
                mobile and web, as well as led the frontend web team and managed other engineers.
                I was an early advocate for mobile development and the importance of having our website be mobile-friendly.
        
        p(class='mb-3')
            .
                Here are a few notable things I worked on while I was there:
    
    h3(class='row mb-4') Group Create

    div(class='row border-bottom pb-3 mb-3')
       
        div(class='col-12 col-md-6')
            img(class='border',src='img/meetup/start_flow.png',width='100%')
            p(class='mt-3') Technologies used: 
                span(class='text-primary') ES6, jQuery, Python, SASS
        div(class='col-12 col-md-6')
            p 
                .
                    I was part of the small team to rebuild Group Create, the 
                    user experience an organizer goes through when creating a group. 
            p
                .
                    Since this is our source of revenue, it was important to make sure
                    the new design did not affect subscriptions adversely.
                    To monitor this, we implemented metrics and tracking to
                    measure conversion and how well the new experience performed.


    h3(class='row  mb-4') Event Create
    div(class='row border-bottom pb-3 mb-3')
        
    
        div(class='col-12 col-md-6')
            img(class='border',src='img/meetup/start_flow.png',width='100%')
            p Technologies used: 
                span(class='text-primary') React, ES6, SASS
        div(class='col-12 col-md-6')
            p 
                .
                    Although the design was also updated, the primary goal of Event Create was to replatform one of our core features
                    with the new technologies and stack.
            

    //- h4 Subscription and Payment
    //- h4 Mobile web site
    //- h4 Meetup for iPhone


block modal_bottom