extends modal_layout

block prepend modal_top
    - var modal_id = 'noesys';
    - var modal_title = 'Noesys'

block modal_content
    div(class='row mb-4')
        div(class='col-sm')
            <img class="img-fluid" src="img/noesys.jpg" alt=""> 
        div(class='col-sm')
            <img class="img-fluid" src="img/noesys.jpg" alt=""> 

    p(class='mb-2')
        .
            Noesys is sound visualization software, using OpenGL to create animated objects and
            sound libraries to play and read audio data. The animations are powered by the sound data using an FFT algorithm and tapping into specific frequencies.
    p(class='mb-2')
        .    
            Its first version was built for a thesis project and has two animated sequences using the music of Fennesz and SND.
            The next version is being built using openframeworks and will contain more animated objects and the ability to adjust and control animations in real time.
    div
        <iframe src="https://player.vimeo.com/video/262244860" width="480" height="320" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    
block modal_bottom

    


