extends modal_layout

block prepend modal_top
    - var modal_id = 'nuroq';
    - var modal_title = "Nuroq Legacy Music Video";


block modal_content
    div(class='row')
        div(class='col-12')
            p(class='mb-4')
                .
                    Official music video for Michna's Nuroq Legacy.
                    Nitehawk Shorts 2015 music video entry.
                    Music by Michna, released on Ghostly.
    
            div(class='embed-responsive embed-responsive-16by9')
                <iframe src="https://player.vimeo.com/video/137102068" class='embed-responsive-item' width="640" height="480" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            
            p(class='mt-4') Materials and Software: 
                span(class='text-primary') original captured video, After Effects
  

block modal_bottom