<section class="mb-0" id="about">
	<div class="container">
		<h2 class="text-center text-uppercase text-white">About</h2>

		<div class="row">
			<div class="col-lg-4 ml-auto">
				<p class="lead">
					h3(class="mb-3") The Site
					p.
						This site highlights a mixture of my work - 
						some professional and some diversions that I have developed 
						on my own.
					p.
						The domain was bought in 2000 and the name alludes 
						to outsider art. It has gone through a few versions and visions.
					p.
						If you like what you see or have any comments,
						feel free to contact me at unjust[ at gmail dot com.
			
				</p>
			</div>
			<div class="col-lg-4 mr-auto">
				<p class="lead">
					h3(class="mb-3") About Me
					p.
						I am an interaction designer and user interface programmer from Florida....
						living in New York City for the past 5 years and working in web and software.
					p.
						I have a MFA from Parsons Design & Technology where I learned how to code sound visualizations.
						Music, the beach, and good food are also high-ranking interests.
					p.
						Currently, I am looking to collaborate on projects 
						where I can be part of the design and development.

					p. 
						Here's to my parents and some friends :) 1, 2, 3, 4, 5 6
				</p>
			</div>
		</div>
		<div class="text-center mt-4">
		<a class="btn btn-xl btn-outline-light" href="#">
			<i class="fa fa-download mr-2"></i>
			Download Now!
		</a>
		</div>
	</div>
</section>



