<!-- Footer -->
<a href='contact'></a>
<footer id="contact" class="footer text-center">
    <div class="container">
        <div class="row">
        <div class="col-12">
            <h4 class="text-uppercase mb-4">Get in touch</h4>
            <p class='mb-3'>email: ivyferaco @ gmail dot com</p>
            <ul class="list-inline mb-0">
                <li class="list-inline-item">
                    <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                    <i class="fa fa-fw fa-google-plus"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                    <i class="fa fa-fw fa-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                    <i class="fa fa-fw fa-linkedin"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>

<div class="copyright py-4 text-center text-white">
    <div class="container">
        <small>Copyright &copy; Your Website 2018</small>
    </div>
</div>