doctype html

html
  head
    title=title
    <!-- third party css -->
    link(rel='stylesheet', href="/css/vendor/bootstrap.min.css")
    link(rel='stylesheet', href="/css/vendor/magnific-popup.css")

    //- <!-- Custom fonts for this template -->
    //- link(rel='stylesheet', href="vendor/font-awesome/css/font-awesome.min.css")
    //- link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Montserrat:400,700")
    //- link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic")

    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,600')
    link(rel='stylesheet', href='/css/freelancer.min.css')
    meta(charset='utf-8')
    meta(name='viewport',content="width=device-width, initial-scale=1, shrink-to-fit=no")
    
  body#page-top
    block nav
      include nav.pug

    //- block header
    //-   include header.pug

    block content

    block footer
      include footer.pug

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

    block modals
    
    block scripts
      <!-- Contact Form JavaScript -->
      //- <script src="js/jqBootstrapValidation.js"></script>
      //- <script src="js/contact_me.js"></script>

      <!-- script for this template -->
      <script src="/js/freelancer.bundled.min.js"></script>

 
    
