<!-- Portfolio Grid Section -->
include portfolio_items.pug

<section class="first" id="portfolio">
	<div class="container">
		//- <h2 class="text-center text-uppercase text-secondary mb-0">Portfolio</h2>
		//- <hr class="star-dark mb-5">
		<div class="row">
			each work, index in portfolio_items
				include work.pug
		</div>
	</div>
</section>