<!-- Portfolio Grid Section -->
<section class="portfolio" id="portfolio">
	Hello portfolio!
	<div class="container">
		<h2 class="text-center text-uppercase text-secondary mb-0">Portfolio</h2>
		<hr class="star-dark mb-5">
		<div class="row">
			each work in [1, 2, 3, 4, 5]
				include work.pug
		</div>
	</div>
</section>