- 
    var portfolio_items = [{
        id: "meetup",
        title: "8 Years of Meetup",
        description: "8 years of slinging Javascript, CSS, Python and more",
        image: "meetup.svg",
        links: "http://vimeo.com",
        type:  "Programming"
    },
    {
        title: "Noesys Animation",
        id: "noesys",
        description: "Sound visualization programs using C++ and OpenGL",
        image: "noesys.jpg",
        links: "http://vimeo.com",
        type:  "Motion"
    },
    {
        title: "Nuroq Legacy Video",
        id: "nuroq",
        description: "Music video for Michna's Nuroq Legacy",
        image: "Nuroq.jpg",
        links: "http://youtube.com",
        type:  "Motion"
    },
    {
        title: "H0L0 Event",
        id: "h0l0",
        description: "After effects",
        image: "ClayAbbyJasenNihalUnjust_IG.jpg",
        links: "",
        type: "Motion"
    },
    {
        title: "Feedback Loop",
        id: "feedback",
        description: "Sound visualization programs using C++ and OpenGL",
        image: "FeedbackLoop_shot.png",
        links: "http://vimeo.com",
        type:  "Motion"
    },
    {
        title: "Garden Of Content",
        id: "garden",
        description: "Music video for Michna's Nuroq Legacy",
        image: "Garden_Shot.png",
        links: "http://youtube.com",
        type:  "Motion"
    },
    {
        title: "Cocoaheads Website",
        id: "cocoaheads",
        description: "Music video for Michna's Nuroq Legacy",
        image: "Cocoaheads.jpg",
        links: "http://youtube.com",
        type:  "Motion"
    },
    {
        title: "Geospace Media Tool",
        id: "gmt",
        description: "After effects",
        image: "GMT_PIIM.jpg",
        links: "",
        type: "Motion"
    },
    {
        title: "Joe Lentini Promo",
        id: "lentini",
        description: "After effects",
        image: "Lentini_nopussy_site.jpg",
        links: "",
        type: "Motion"
    }]